{% extends "base.html.twig" %}

{% block body %}
    <form method="POST">
    <div>
        <label>Artiste</label>
        <input type="text" name="name">
    </div>

    <div>
        <label>Description</label>
        <textarea name="description"></textarea>
    </div>

        <button type="submit">Enregistrer</button>

    </form>

    
{% endblock %}